/* REACT NOTIFICATION Modifiers
 ******************************/
.notification-container {
  width: auto; }

.notification {
  box-shadow: none; }

/* MENUFRESH
 ******************************/
.user-icon {
  height: 38px;
  margin: 6px;
  border-radius: 50px;
  cursor: pointer;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;}

.navbar-brand img {
  width: 20px;
  display: inline;
  margin-top: -4px;
  margin-right: 3px; }

.navbar-inverse .navbar-nav > li > a.active {
  background: black;
  font-weight: bold;
  color: white; }

.weeklist {
  border: 5px solid rgba(0,0,0,0);
  margin: 0 -13px;
  margin-top: -13px; }

.weeklist input[type="search"] {
  width: calc(100% - 12pt);
  margin: 0 6pt; }

.weeklist .icon-addon.addon-md .glyphicon {
  margin-left: 3pt; }

.weeklist.unsaved {
  border: 5px dashed rgba(0, 0, 0, 0.1); }

.recipe-search {
  padding: 0; }

.recipe-search .search-results {
  background-color: white;
  position: absolute;
  top: 33px;
  padding: 0;
  border-top: 1px solid silver;
  margin: 0 6pt;
  width: calc(100% - 12pt);
  max-height: 300px;
  overflow: scroll;
  border-bottom: 1px solid silver; }

.recipelist article, .recipedetail {
  background: white;
  overflow: hidden;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1); }

.recipedetail {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10pt;
}
.recipedetail.shoppinglist {
  padding-bottom: 0;
}

.recipelist article {
  display: inline-block;
  position: relative;
  margin: 6pt;
  width: 310px;
  box-sizing: border-box;
  height: 380px;
  text-align: left; }

.recipelist article a {
  color: black;
  text-decoration: none; }

.recipelist article .heroimage {
  margin-left: -53px;
  height: 275px;
  min-height: 275px;
  min-width: 363px;
  background-color: #ddd; }

.recipelist article h3 {
  padding: 6pt;
  margin: 0;
  height: 70px;
  font-size: 140%; }

.recipelist article p {
  padding: 6pt;
  margin: 0; }

.recipelist article button {
  float: right; }

.container-archiveweek .recipelist {
  margin: 0;
  border: 0;
}

.container-archiveweek .recipelist article {
  height: auto;
  margin: 0;
  margin-bottom: -3px;
  width: 100%;
  border-radius: 0;
}

.container-archiveweek .recipelist article .heroimage {
  height: 50px;
  width: 83px;
  float: left;
  padding-right: 6pt;
  margin: 0;
  min-height: 0;
  min-width: 0;
  background-color: transparent;
}

.container-archiveweek .recipelist article h3 {
    font-size: 126%;
    height: auto;
}

.container-archiveweek .recipelist article .preptime {
  display: none;
}

article .actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.recipe-detail-card {
  width: 50%; }

.recipe-thumb {
  width: 100%; }

.recipe-cost-field {
  width: 60px;
  float: right;
  margin-right: 6px;
  position: relative; }

.recipe-cost-field:before {
  content: "$";
  float: left;
  position: absolute;
  left: -13px;
  top: 7px; }

.input-group .icon-addon .form-control {
  border-radius: 0; }

.icon-addon {
  position: relative;
  color: #555;
  display: block; }

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " "; }

.icon-addon:after {
  clear: both; }

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px; }

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px; }

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5; }

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px; }

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal; }

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px; }

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db; }

@media only screen and (min-width: 800px) {
  .recipelist article, .recipedetail {
    border-radius: 4pt;
  }

  .recipedetail {
    margin: 0;
    padding: 0 18px 10pt 14pt; }
}
