/* Bootstrap modifiers */
body {
  background: #eee;
}
h2 {
  font-size: 186%;
  /*font-family: Georgia, sans;*/
}
h2 button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2.shopping-week {
  margin: 10px 0 6px;
}
h2.shopping-list {
  margin-top: 20pt;
}
h4.shopping-week {
  font-size: 130%;
  margin: 5px 0 15px;
  font-family: Georgia, sans;
}

.supermarket-category {
  border-left: 5px solid white;
  padding-left: 7px !important;
  padding-right: 5px !important;
}
.supermarket-category-meat {
  border-color: #e6373d;
}
.supermarket-category-fresh-herbs {
  border-color: #13a40b;
}
.supermarket-category-fresh-fruitvege {
  border-color: #3cd537;
}
.supermarket-category-nutsroot-vege {
  border-color: #f7989b;
}
.supermarket-category-deli {
  border-color: #95cddb;
}
.supermarket-category-fridgefreezer {
  border-color: #95cddb;
}
.supermarket-category-bakery {
  border-color: #f7cf68;
}
.supermarket-category-center-aisles {
  border-color: #ddd;
}
.supermarket-category-dairy {
  border-color: #64b2fb;
}
.pantry-category-pantry {
  border-color: #bbb;
}
.pantry-category-kitchen-cupboard {
  border-color: #ccc;
}
.pantry-category-fridge {
  border-color: #95cddb;
}
.pantry-category-freezer {
  border-color: #95cddb;
}
.pantry-category-breezeway-cupboard {
  border-color: #ddd;
}
.pantry-category-garden {
  border-color: #13a40b;
}


*[draggable="true"] {
  cursor: grab;
}
.dragover > td {
  position: relative;
}
.dragover > td:after {
  content: " ";
  width: 100%;
  border: 3px solid #ddd;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.droppable {
  background-color: #eee;
  color: #eee;
  transition: color 0.2s ease;
}
.float-right {
  float: right;
}
.align-right {
  text-align: right;
}
.ingredient-quantity {
  width: 20%;
  white-space: nowrap;
}
.ingredient-price {
  width: 80px;
  text-align: right;
  white-space: nowrap;
}
.price-field {
  padding: 3px;
  margin: -4px 0;
  width: 50px;
  text-align: right;
  height: auto;
  float: right;
}
.checked {
  color: #ddd;
}
.ingredient-input {
  width: 100%;
}
.popside-container {
  position:relative;
}
.popside {
  position: absolute;
  right: 72px;
  top: -7px;
  white-space: nowrap;
  background-color: #5cb85c;
  padding: 7px 10px;
  color: white;
}
.popside:after {
  position: absolute;
  content: " ";
  right: -17px;
  top: 0;
  width: 1px;
  height: 0;
  border-left: 17px solid #5cb85c;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 6px 0;
}
.pricetag {
  white-space: nowrap;
  position: relative;
  margin: 0 0 0 1.2em;
  displaY: inline-block;
  border-radius: 0 0.3em 0.3em 0;
  padding: 0.25em 0.7em 0.2em 0.6em;
  background: #5cb85c;
  color: #fff;
  line-height: 1;
  top: -3px;
  font-size: 65%;
  font-family: "Nobel-RM", sans-serif;
}
.pricetag:before {
  position: absolute;
  content: "\25CF";
  color: #fff;
  font-size: 50%;
  line-height: 0;
  text-indent: 1.3em;
  left: -1.4em;
  top: 0;
  width: 1px;
  height: 0;
  border-right: 1.4em solid #5cb85c;
  border-top: 1.4em solid transparent;
  border-bottom: 1.4em solid transparent;
}
.can-purchase {
  background: linear-gradient(to right, rgba(97,183,95,0.3) 0%, rgba(0,0,0,0) 80%);
}
.pricetag sup {
  top: -.4em;
  font-size: 60%;
  padding-right: 0.2em;
}
.recipelist .pricetag {
  position: absolute;
  top: 253px;
  right: 6px;
  font-size: 80%;
}
.table-column-tiny {
  width: 1% !important;
}
.align-center {
  text-align: center;
}
.pad-left {
  padding-left: 6px !important;
}
.container-thisweek {
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.2) 0.5%,rgba(0,0,0,0.1) 40%);
  margin-bottom: 11pt;
}
.container-thisweek, .container-futureweek {
  margin: 0 -11pt;
  padding: 15pt;
}
.planner-week {
  position: relative;
  text-align: center;
}
.planner-controls {
  position: absolute;
  top: 40pt;
  right: 11pt;
  font-size: 170%;
}
.planner-controls .btn {
  background-color:transparent;
}
.planner-addweek {
  position:absolute;
  top: 14pt;
  left: 11pt;
  z-index: 99;
}
.container-archiveweek {
  width: 33.333%;
  float: left;
  font-size: 80%;
  text-align: left;
  padding: 8px 5px;
}
.container-archiveweek h2 {
  margin-top: 20px;
}
.container-archiveweek .planner-controls {
  position: static;
  margin-top: -12px;
  margin-bottom: 8px;
  margin-left: -6px;
}
.container-archiveweek:nth-of-type(3n+1) {
  clear: right;
  padding-right: 0;
}
.container-archiveweek:nth-of-type(3n-1) {
  clear: left;
  padding-left: 0;
}

@media only screen and (max-width: 992px) {
  .container-archiveweek:nth-of-type(3n+1) {
    clear: none;
    padding: 0 5px;
  }
  .container-archiveweek:nth-of-type(3n-1) {
    clear: none;
    padding: 0 5px;
  }
  .container-archiveweek:nth-of-type(2n) {
    clear: right;
    padding-right: 0;
  }
  .container-archiveweek:nth-of-type(2n-1) {
    clear: left;
    padding-left: 0;
  }
  .container-archiveweek {
    width: 50%;
  }
}

@media only screen and (max-width: 760px) {
  .container-archiveweek {
    width: 100%;
    clear: both;
    padding: 0 !important;
  }
  .planner-controls {
    position: static;
    margin-top: -17px;
    margin-bottom: 14px;
  }
  .planner-addweek {
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -45px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-6.shopping-list {
    padding-right: 8px;
  }
  .col-md-6.pantry {
    padding-left: 8px;
  }
}
